<div>
  <section class="first-section">
    <div class="content">
      <p>Dale un nuevo hogar, a tu nuevo mejor amigo. Adopta!</p>
      <button mat-raised-button
              color="basic">
        Iniciar Sesión
      </button>
      <p>¿No tienes una cuenta?</p>
      <span>Registrate aquí</span>
    </div>
    <img src="assets/svgs/person.svg">
  </section>

  <section class="second-section">
    <img src="assets/images/shelter.jpg">
    <div class="content">
      <h2>¿QUIENES SOMOS?</h2>
      <p>Somos un albergue que busca darle una mejor vida a los animalitos de la calle. Buscamos darles un hogar lleno
        de amor.</p>
    </div>
  </section>

  <section
    class="third-section">
    <ng-container *ngIf="pawsData$ | async as pawsData; else spinner">
      <app-paw-counter
        *ngFor="let paw of pawsData"
        [label]="paw.description"
        [counter]="paw.count"
      >
      </app-paw-counter>
    </ng-container>
  </section>

  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>

</div>

