.outer-container {
  position: relative;
  height: 100%;
  padding-top: 160px;
}

.login-container {
  background-color: white;
  border-radius: 4px;
  padding: 25px 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  max-width: 500px;
  margin: auto;
}

@media screen and (max-width: 1000px) {
  .outer-container {
    padding-top: 100px;
  }
}

@media screen and (max-width: 840px) {
  .outer-container {
    padding-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .outer-container {
    padding-top: 10px;
  }
}
