
<div class="outer-container">
  <div class="container">
    <section class="form">
      <h2>Change Your Password</h2>
      <form [formGroup]="formGroup"
            (ngSubmit)="submitForm()">

        <mat-form-field class="form-field">
          <input matInput
                 placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="
      !formGroup.controls['email'].valid &&
      formGroup.controls['email'].touched"
          >
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput
                 type="password"
                 placeholder="Password"
                 formControlName="password">
          <mat-error *ngIf="
      !formGroup.controls['password'].valid &&
      formGroup.controls['password'].touched"
          >
          </mat-error>
        </mat-form-field>

        <div class="submit-button">
          <button mat-raised-button
                  color="primary"
                  type="submit"
                  class="button"
                  [disabled]="!formGroup.valid">Change
          </button>
        </div>
      </form>
    </section>
  </div>
</div>
